[package]
name = "sycamore-web"
categories = ["gui", "wasm", "web-programming"]
description = "Web renderer for the Sycamore"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive", "web"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version.workspace = true

[dependencies]
hashbrown = "0.14.1"
html-escape = "0.2.12"
indexmap = "2.0.2"
js-sys = "0.3.60"
once_cell = "1.16.0"
sycamore-core = { path = "../sycamore-core", version = "0.9.0-beta.2" }
sycamore-reactive = { path = "../sycamore-reactive", version = "0.9.0-beta.2" }
wasm-bindgen = "0.2.83"
web-sys = { version = "0.3.60", features = [
	"console",
	"Comment",
	"Document",
	"DocumentFragment",
	"DomTokenList",
	"Element",
	"HtmlCollection",
	"HtmlElement",
	"HtmlInputElement",
	"HtmlTemplateElement",
	"Node",
	"NodeList",
	"Text",
	"Window",
	# Event types
	"AnimationEvent",
	"BeforeUnloadEvent",
	"CompositionEvent",
	"DeviceMotionEvent",
	"DeviceOrientationEvent",
	"DragEvent",
	"ErrorEvent",
	"Event",
	"FocusEvent",
	"GamepadEvent",
	"HashChangeEvent",
	"InputEvent",
	"KeyboardEvent",
	"MessageEvent",
	"MouseEvent",
	"PageTransitionEvent",
	"PointerEvent",
	"PopStateEvent",
	"ProgressEvent",
	"PromiseRejectionEvent",
	"SecurityPolicyViolationEvent",
	"StorageEvent",
	"SubmitEvent",
	"TouchEvent",
	"TransitionEvent",
	"WheelEvent",
] }

[dev-dependencies]
sycamore = { path = "../sycamore", features = ["ssr"] }

[features]
hydrate = []
ssr = ["hydrate"]
