[package]
name = "sycamore-web"
categories = ["gui", "wasm", "web-programming"]
description = "Web renderer for the Sycamore"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive", "web"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.8.2"

[dependencies]
html-escape = "0.2.12"
indexmap = "1.9.2"
js-sys = "0.3.60"
once_cell = "1.16.0"
sycamore-core = { path = "../sycamore-core", version = "0.8.0" }
sycamore-reactive = { path = "../sycamore-reactive", version = "0.8.0" }
wasm-bindgen = "0.2.83"
web-sys = { version = "0.3.60", features = [
    "console",
    "Comment",
    "Document",
    "DocumentFragment",
    "DomTokenList",
    "Element",
    "Event",
    "HtmlCollection",
    "HtmlElement",
    "HtmlInputElement",
    "HtmlTemplateElement",
    "Node",
    "NodeList",
    "Text",
    "Window",
] }

[dev-dependencies]
sycamore = { path = "../sycamore", features = ["ssr"] }

[features]
hydrate = ["sycamore-core/hydrate"]
ssr = ["hydrate"]
