[workspace]
members = [
  "packages/sycamore",
  "packages/sycamore-macro",
  "packages/sycamore-router",
  "packages/sycamore-router-macro",
  "examples/components",
  "examples/counter",
  "examples/hello",
  "examples/iteration",
  "examples/ssr",
  "examples/todomvc",
  "examples/tweened",
  "docs",
  "website",
]

[profile.release]
lto = true
opt-level = "z"
# Enable only for debugging release builds only
# debug = true
