[package]
authors = ["Luke Chu <37006668+lukechu10@users.noreply.github.com>"]
categories = ["gui", "wasm", "web-programming"]
description = "Router for sycamore"
edition = "2018"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
name = "sycamore-router"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.5.0-beta.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sycamore = {path = "../sycamore", version = "=0.5.0-beta.1"}
sycamore-router-macro = {path = "../sycamore-router-macro", version = "=0.5.0-beta.1"}
wasm-bindgen = "0.2"

[dependencies.web-sys]
features = [
  "Event",
  "EventTarget",
  "History",
  "HtmlAnchorElement",
  "Location",
  "PopStateEvent",
  "Window",
]
version = "0.3"