[package]
name = "sycamore-reactive"
categories = ["gui", "wasm", "web-programming"]
description = "Reactive primitives for Sycamore"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.8.1"

[dependencies]
bumpalo = { version = "3.12.0", features = ["boxed"] }
indexmap = "1.9.2"
getrandom = { version = "0.2.8", features = ["js"] }
hashbrown = "0.13.1"
serde = { version = "1.0.147", optional = true }
slotmap = "1.0.6"
smallvec = { version = "1.10.0", features = ["const_generics"] }

[features]
default = []
