[package]
name = "sycamore-reactive"
categories = ["gui", "wasm", "web-programming"]
description = "Reactive primitives for Sycamore"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.8.1"

[dependencies]
ahash = "0.7.6"
bumpalo = { version = "3.9.1", features = ["boxed"] }
indexmap = "1.8.0"
serde = { version = "1.0.136", optional = true }
slotmap = "1.0.6"
smallvec = { version = "1.8.0", features = ["const_generics"] }

[features]
default = []
