[package]
authors = ["Luke Chu <37006668+lukechu10@users.noreply.github.com>"]
categories = ["gui", "wasm", "web-programming"]
description = "Reactive primitives for Sycamore"
edition = "2018"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["reactive"]
license = "MIT"
name = "sycamore-reactive"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.6.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ahash = "0.7.4"
indexmap = { version = "1.7.0", features = ["std"] }
smallvec = "1.6.1"
serde = { version = "1.0.130", optional = true }
wasm-bindgen = "0.2.78"

[dependencies.web-sys]
features = ["console"]
version = "0.3.55"
