[package]
name = "sycamore-futures"
categories = ["gui", "wasm", "web-programming"]
description = "Futures, suspense, and async/await support for Sycamore"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.9.0-beta.1"

[dependencies]
futures = "0.3.25"
pin-project = "1.1.3"
sycamore-reactive3 = { path = "../sycamore-reactive3", version = "0.9.0-beta.1" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4.33"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.22.0", features = ["rt"] }
