[package]
name = "sycamore-futures"
categories = ["gui", "wasm", "web-programming"]
description = "Futures, suspense, and async/await support for sycamore"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.8.0-beta.5"

[dependencies]
futures = "0.3.21"
sycamore-reactive = { path = "../sycamore-reactive", version = "0.8.0-beta.5" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4.29"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.17.0", features = ["rt"] }
