[package]
name = "sycamore-futures"
categories = ["gui", "wasm", "web-programming"]
description = "Futures, suspense, and async/await support for Sycamore"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version.workspace = true

[dependencies]
futures = "0.3.25"
pin-project = "1.1.3"
sycamore-reactive = { path = "../sycamore-reactive", version = "0.9.0-beta.3" }
sycamore-macro = { path = "../sycamore-macro", version = "0.9.0-beta.3" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4.33"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.22.0", features = ["rt"] }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(sycamore_force_ssr)'] }
