[package]
name = "sycamore-core"
categories = ["gui", "wasm", "web-programming"]
description = "Core functionality for the SycamoreS"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version.workspace = true

[dependencies]
hashbrown = "0.13.1"
sycamore-futures = { path = "../sycamore-futures", version = "0.9.0-beta.2", optional = true }
sycamore-reactive = { path = "../sycamore-reactive", version = "0.9.0-beta.2" }

[dev-dependencies]
sycamore = { path = "../sycamore", features = ["ssr"] }

[features]
default = []
hydrate = []
suspense = ["sycamore-futures"]
