[package]
name = "sycamore"
categories = ["gui", "wasm", "web-programming"]
description = "A library for building reactive web apps in Rust and WebAssembly"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version.workspace = true

[dependencies]
futures = { version = "0.3.25", optional = true }
hashbrown = "0.14.1"
html-escape = { version = "0.2.12", optional = true }
indexmap = { version = "2.0.2", features = ["std"] }
js-sys = { version = "0.3.60", optional = true }
once_cell = { version = "1.16.0", optional = true }
paste = "1.0.9"
sycamore-core = { path = "../sycamore-core", version = "0.9.0-beta.2" }
sycamore-futures = { path = "../sycamore-futures", version = "0.9.0-beta.2", optional = true }
sycamore-macro = { path = "../sycamore-macro", version = "0.9.0-beta.2" }
sycamore-reactive = { path = "../sycamore-reactive", version = "0.9.0-beta.2" }
sycamore-web = { path = "../sycamore-web", version = "0.9.0-beta.2", optional = true }
wasm-bindgen = { version = "0.2.83", optional = true }
wasm-bindgen-futures = { version = "0.4.33", optional = true }
web-sys = { version = "0.3.60", optional = true }

[dev-dependencies]
expect-test = "1.4.0"
tokio = { version = "1.22.0", features = ["macros", "rt"] }
wasm-bindgen-test = "0.3.33"

[features]
default = ["web", "wasm-bindgen-interning"]
hydrate = ["web", "sycamore-macro/hydrate", "sycamore-web/hydrate"]
nightly = ["sycamore-reactive/nightly"]
ssr = [
	"web",
	"html-escape",
	"once_cell",
	"hydrate",
	"sycamore-macro/ssr",
	"sycamore-web/ssr",
]
suspense = [
	"futures",
	"wasm-bindgen-futures",
	"sycamore-futures",
	"sycamore-core/suspense",
]
serde = ["sycamore-reactive/serde"]
trace = ["sycamore-reactive/trace"]
wasm-bindgen-interning = ["web", "wasm-bindgen/enable-interning"]
web = ["wasm-bindgen", "web-sys", "js-sys", "sycamore-web"]

[[test]]
name = "web"
required-features = ["ssr"]

[[test]]
name = "ssr"
required-features = ["ssr"]

[package.metadata.docs.rs]
all-features = true
default-target = "wasm32-unknown-unknown"
