[package]
authors = ["Luke Chu <37006668+lukechu10@users.noreply.github.com>"]
categories = ["gui", "wasm", "web-programming"]
description = "A VDOM-less web library with fine grained reactivity"
edition = "2018"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
name = "sycamore"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.5.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = {version = "0.4", features = ["wasmbind"]}
html-escape = {version = "0.2.7", optional = true}
js-sys = {version = "0.3"}
sycamore-macro = {path = "../sycamore-macro", version = "=0.5.2"}
sycamore-reactive = {path = "../sycamore-reactive", version = "=0.5.2"}
wasm-bindgen = {version = "0.2", features = ["enable-interning"]}

[dependencies.web-sys]
features = [
  "console",
  "Comment",
  "Document",
  "DocumentFragment",
  "Element",
  "Event",
  "HtmlElement",
  "HtmlInputElement",
  "HtmlCollection",
  "Node",
  "Text",
  "Window",
]
version = "0.3.51"

[dev-dependencies]
criterion = { version = "0.3.5", features = ["html_reports"] }
wasm-bindgen-test = "0.3.24"

[features]
default = ["dom"]
dom = []
serde = ["sycamore-reactive/serde"]
ssr = ["html-escape"]

[[bench]]
harness = false
name = "reactivity"

[[bench]]
harness = false
name = "ssr"

[[test]]
name = "ssr"
required-features = ["ssr"]

[package.metadata.docs.rs]
all-features = true
default-target = "wasm32-unknown-unknown"
