[package]
name = "sycamore"
categories = ["gui", "wasm", "web-programming"]
description = "A reactive library for creating web apps in Rust and WebAssembly"
edition = "2021"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.8.0-beta.6"

[dependencies]
ahash = "0.7.6"
futures = { version = "0.3.21", optional = true }
html-escape = { version = "0.2.9", optional = true }
indexmap = { version = "1.8.0", features = ["std"] }
js-sys = { version = "0.3.56", optional = true }
once_cell = { version = "1.10.0", optional = true }
paste = "1.0.6"
sycamore-core = { path = "../sycamore-core", version = "0.8.0-beta.6" }
sycamore-futures = { path = "../sycamore-futures", version = "0.8.0-beta.6", optional = true }
sycamore-macro = { path = "../sycamore-macro", version = "0.8.0-beta.6" }
sycamore-reactive = { path = "../sycamore-reactive", version = "0.8.0-beta.6" }
sycamore-web = { path = "../sycamore-web", version = "0.8.0-beta.6", optional = true }
wasm-bindgen = { version = "0.2.79", optional = true }
wasm-bindgen-futures = { version = "0.4.29", optional = true }

[dependencies.web-sys]
features = [
    "console",
    "Comment",
    "Document",
    "DocumentFragment",
    "DomTokenList",
    "Element",
    "Event",
    "HtmlElement",
    "HtmlInputElement",
    "HtmlCollection",
    "Node",
    "NodeList",
    "Text",
    "Window",
]
version = "0.3.56"
optional = true

[dev-dependencies]
criterion = "0.3.5"
expect-test = "1.2.2"
tokio = { version = "1.17.0", features = ["macros", "rt"] }
wasm-bindgen-test = "0.3.29"

[features]
default = ["web", "wasm-bindgen-interning"]
hydrate = [
    "web",
    "sycamore-macro/hydrate",
    "sycamore-core/hydrate",
    "sycamore-web/hydrate",
]
ssr = [
    "web",
    "html-escape",
    "once_cell",
    "hydrate",
    "sycamore-macro/ssr",
    "sycamore-web/ssr",
]
suspense = ["futures", "wasm-bindgen-futures", "sycamore-futures"]
serde = ["sycamore-reactive/serde"]
wasm-bindgen-interning = ["web", "wasm-bindgen/enable-interning"]
web = ["wasm-bindgen", "web-sys", "js-sys", "sycamore-web"]

[[bench]]
harness = false
name = "reactivity"

[[bench]]
harness = false
name = "ssr"
required-features = ["ssr"]

[[test]]
name = "ssr"
required-features = ["ssr"]

[package.metadata.docs.rs]
all-features = true
default-target = "wasm32-unknown-unknown"
