[package]
authors = ["Luke Chu <37006668+lukechu10@users.noreply.github.com>"]
categories = ["gui", "wasm", "web-programming"]
description = "A VDOM-less web library with fine grained reactivity"
edition = "2018"
homepage = "https://github.com/sycamore-rs/sycamore"
keywords = ["wasm", "gui", "reactive"]
license = "MIT"
name = "sycamore"
readme = "../../README.md"
repository = "https://github.com/sycamore-rs/sycamore"
version = "0.6.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ahash = "0.7.4"
html-escape = { version = "0.2.9", optional = true }
indexmap = { version = "1.7.0", features = ["std"] }
js-sys = "0.3.55"
once_cell = { version = "1.8.0", optional = true }
smallvec = "1.6.1"
sycamore-macro = { path = "../sycamore-macro", version = "=0.6.0" }
sycamore-reactive = { path = "../sycamore-reactive", version = "=0.6.0" }
wasm-bindgen = { version = "0.2.78", features = ["enable-interning"] }

[dependencies.lexical]
version = "6.0.0"
default-features = false
features = ["write-integers", "write-floats", "compact"]

[dependencies.web-sys]
features = [
  "console",
  "Comment",
  "Document",
  "DocumentFragment",
  "Element",
  "Event",
  "HtmlElement",
  "HtmlInputElement",
  "HtmlCollection",
  "Node",
  "Text",
  "Window",
]
version = "0.3.55"

[dev-dependencies]
criterion = { version = "0.3.5", features = ["html_reports"] }
wasm-bindgen-test = "0.3.28"

[features]
default = ["dom"]
dom = []
ssr = ["html-escape", "once_cell"]
serde = ["sycamore-reactive/serde"]

[[bench]]
harness = false
name = "reactivity"

[[bench]]
harness = false
name = "ssr"

[[test]]
name = "ssr"
required-features = ["ssr"]

[package.metadata.docs.rs]
all-features = true
default-target = "wasm32-unknown-unknown"
