name: Benchmark

on: [pull_request]

jobs:
  bench:
    name: Bench
    runs-on: ubuntu-latest
    
    steps:
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Checkout repository base
        uses: actions/checkout@v2
        with:
          ref: ${{ github.base_ref }}

      - name: Run cargo bench on base
        run: cd packages/tools/bench && cargo bench

      - name: Checkout repository head
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}
          ref: ${{ github.head_ref }}
          clean: false # Do not remove benchmark results from base branch

      - name: Run cargo bench on head
        run: cd packages/tools/bench && cargo bench

      - name: Upload benchmark report
        uses: actions/upload-artifact@v2
        with:
          name: Benchmark report
          path: target/criterion/
