name: Build Website Production

on:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install trunk
        run: >
          wget -qO-
          https://github.com/thedodd/trunk/releases/download/v0.12.1/trunk-x86_64-unknown-linux-gnu.tar.gz
          | tar -xzf- && sudo mv trunk /usr/bin/

      - name: Cargo generate-lockfile
        run: cargo generate-lockfile

      - name: Cargo cache
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build website
        run: >
          cd website/ && npm ci && npm run prod

      - name: Build examples
        run: |
          output="$(pwd)/website/dist"
          mkdir "$output/examples"
          for path in examples/*; do
            if [[ ! -d $path ]]; then
              continue
            fi
            example=$(basename "$path")
            echo "building: $example"
            (
              cd "$path"
              dist_dir="$output/examples/$example"
              mkdir "$dist_dir"
              trunk build --release --dist "$dist_dir" --public-url "/examples/$example"
            )
          done

      - name: Create .nojekyll file
        run: touch website/dist/.nojekyll

      - name: Deploy to netlify
        uses: netlify/actions/cli@master
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.DEV_NETLIFY_SITE_ID }}
        with:
          args: deploy --prod
