name: Continuous benchmark

on:
  push:
    branches:
      - master

jobs:
  bench:
    name: Bench
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo bench
        run: cargo bench --bench reactivity --bench ssr -- --output-format bencher | tee -a output.txt

      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          name: Benchmark
          tool: "cargo"
          output-file-path: output.txt
          gh-pages-branch: gh-pages
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: "130%"
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: "@lukechu10"
