name: JS Framework Benchmark

on:
  pull_request:
    branches: [master]
    types: [labeled, synchronize]

jobs:
  bench:
    name: Bench
    runs-on: ubuntu-latest

    if: >-
      (github.event.action == 'labeled' && github.event.label.name == 'performance') ||
      (github.event.action == 'synchronize' && contains(github.event.pull_request.labels.*.name,
      'performance'))

    env:
      MSG_FOOTER: |
        Workflow: [${{ github.run_id }}](/${{ github.repository }}/actions/runs/${{ github.run_id }})
        *Adding new commits will generate a new report*

    steps:
      # Create a message on the issue thread
      - name: Post comment
        uses: jungwinter/comment@v1
        id: create_comment
        with:
          type: create
          body: |
            Started a benchmark for this pull request.
            This comment will be updated with the results.
            ${{ env.MSG_FOOTER }}
          issue_number: ${{ github.event.number }}
          token: ${{ secrets.GITHUB_TOKEN }}

      # Install necessary tooling
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Install trunk
        run: >
          wget -qO-
          https://github.com/thedodd/trunk/releases/download/v0.14.0/trunk-x86_64-unknown-linux-gnu.tar.gz
          | tar -xzf- && sudo mv trunk /usr/bin/

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install chromedriver
        uses: nanasess/setup-chromedriver@master

      # Checkout repositories into respective directories
      - uses: actions/checkout@v2
        with:
          path: ./sycamore
      - uses: actions/checkout@v2
        with:
          path: ./sycamore-baseline
          ref: ${{ github.event.pull_request.base.ref }}

      - uses: actions/checkout@v2
        with:
          repository: krausest/js-framework-benchmark
          path: ./js-framework-benchmark

      # Prepare the environment for running the benchmarks
      - name: Delete all frameworks in js-framework-benchmark except for wasm-bindgen
        run: |
          mv ./js-framework-benchmark/frameworks/keyed/wasm-bindgen ./tmp
          rm -rf ./js-framework-benchmark/frameworks/keyed/*
          rm -rf ./js-framework-benchmark/frameworks/non-keyed/*
          mv ./tmp ./js-framework-benchmark/frameworks/keyed/wasm-bindgen

      - name: Configure benchmarks
        run: node ./sycamore/packages/tools/configure_bench.js

      - name: Install js-framework-benchmark dependencies
        run: |
          cd ./js-framework-benchmark
          npm ci
          (cd server && npm ci)
          (cd webdriver-ts && npm ci)
          (cd webdriver-ts-results && npm ci)

      - name: Start server
        run: cd ./js-framework-benchmark && npm start &

      - name: Build benchmark driver
        run: |
          (cd ./js-framework-benchmark/webdriver-ts && npm run compile)
        shell: bash {0} # Do not fail fast. webdriver-ts currently spits out errors for tsc.

      - name: Run benchmark
        run: cd ./js-framework-benchmark && npm run bench -- --headless

      - name: Results
        run: cd ./js-framework-benchmark && npm run results

      - name: Log results
        run: |
          msg=$(cd ./sycamore/packages/tools/bench-diff && cargo run -- ../../../../js-framework-benchmark/webdriver-ts/results.json)
          echo "$msg"

      - name: Run results_diff
        run: cd ./sycamore/packages/tools/bench-diff && cargo run -- ../../../../js-framework-benchmark/webdriver-ts/results.json &> bench.txt

      - name: Read file contents
        id: read_bench
        uses: andstor/file-reader-action@v1
        with:
          path: ./sycamore/packages/tools/bench-diff/bench.txt

      - name: Post results
        uses: jungwinter/comment@v1
        with:
          type: edit
          body: |
            ${{ steps.read_bench.outputs.contents }}
            ${{ env.MSG_FOOTER }}
          comment_id: ${{ steps.create_comment.outputs.id }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Post failure
        if: ${{ failure() }}
        uses: jungwinter/comment@v1
        with:
          type: edit
          body: |
            **The benchmark failed to complete.**
            Please see the workflow for more details.
            ${{ env.MSG_FOOTER }}
          comment_id: ${{ steps.create_comment.outputs.id }}
          token: ${{ secrets.GITHUB_TOKEN }}
