name: Test

on: push

env:
  RUSTFLAGS: -Dwarnings
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build

    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Run tests
      run: cargo test

    - name: Run headless browser tests
      run: wasm-pack test --firefox --chrome --headless
      
    - name: Run clippy
      run: cargo clippy
